{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="{% static 'css/splash.css' %}">
    <style>
    body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-image: url("{% static 'img/photo1.jpg' %}");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: #ffffff;
    /* Fallback background color */
 }
 
    </style>
</head>
<body>

<div class="starfall">
  <div class="falling-star"></div>
  <div class="falling-star"></div>
  <div class="falling-star"></div>
  <div class="falling-star"></div>
  <div class="falling-star"></div>
  <div class="falling-star"></div>
  <div class="falling-star"></div>
  <div class="falling-star"></div>
  <div class="falling-star"></div>
  <div class="falling-star"></div>
  <div class="falling-star"></div>
  <div class="falling-star"></div>
  <div class="falling-star"></div>
  <div class="falling-star"></div>
  <div class="falling-star"></div>
  <div class="falling-star"></div>
  <div class="falling-star"></div>
  <div class="falling-star"></div>
  <div class="falling-star"></div>
  <div class="falling-star"></div>
  <div class="falling-star"></div>
  <div class="falling-star"></div>
  <div class="falling-star"></div>
  <div class="falling-star"></div>
  <div class="falling-star"></div>
  <div class="falling-star"></div>
  <div class="falling-star"></div>
  <div class="falling-star"></div>
  <div class="falling-star"></div>
  <div class="falling-star"></div>
  <div class="falling-star"></div>
  <div class="falling-star"></div>
  <div class="falling-star"></div>
  <div class="falling-star"></div>
  <div class="falling-star"></div>
  <div class="falling-star"></div>
  <div class="falling-star"></div>
  <div class="falling-star"></div>
  <div class="falling-star"></div>
  <div class="falling-star"></div>
</div>





   <div class="split-text-container">
    <span class="text-part left">KI</span>
    <span class="text-part right">SAN</span>
</div>
    <script>
        setTimeout(function () {
            window.location.href = "h";  // Redirect to home page after 2 seconds
        }, 5000);
    </script>

</body>
</html>
